nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        font-size: larger;
        font-weight: 900;
        text-decoration: none;
        list-style: none;
      }
      nav ul li a {
        text-decoration: none;
        color: #000;
      }
      .container>*{
        border: 1px solid gold;
        background-color: burlywood;
        padding: 30px;
        margin: 20px;
      }